Domaci/Domaci3/Service/PLC/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51990/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="Publish">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="initHMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="p" nillable="true" type="q1:Panel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>