projekat/ConsistencyService/ConsistencyManager/Connected Services/ServiceReference1/ConsistencyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsistencyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsistencyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TemperatureInfo">
    <xs:sequence>
      <xs:element name="sensor_id" type="xs:int" />
      <xs:element name="temperature" type="xs:double" />
      <xs:element name="timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemperatureInfo" nillable="true" type="tns:TemperatureInfo" />
</xs:schema>