projekat/ConsistencyService/ConsistencyManager/Connected Services/ServiceReference1/ConsistencyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50999/ConsistencyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsistencyService" />
  <xs:element name="publishTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsistencyService" minOccurs="0" name="t" nillable="true" type="q1:TemperatureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="querySensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="querySensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsistencyService" minOccurs="0" name="querySensorResult" nillable="true" type="q2:TemperatureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>